/*.save*
/*.swp*
/*.bak*
/*.~
/*klee-last
/*/*klee-last
/*/*/*klee-last
/*/*/*klee-last
/*/*/*/*klee-last
/*/*/*/*/*klee-last
/*klee-out*
/*/*klee-out*
/*/*/*klee-out*
/*/*/*/*klee-out*
/*/*/*/*/*klee-out*
/*/*/*/*/*/*klee-out*
